$rootFontSize: 16px;

$primary-font: 'Nunito Sans', sans-serif;
$primary-bold: 800;
$primary-normal: 400;
$primary-light: $primary-normal;

$secondary-font: 'Zilla Slab', serif;
$secondary-bold: 500;
$secondary-normal: $secondary-bold;
$secondary-light: 300;


$h0: 4.813rem; // 77
$em0: 4.813em;
$rem0: $h0;

$h1: 3rem; // 48px
$em1: 3em;
$rem1: $h1;

$h2: 1.25rem; // 20px
$em2: 1.25em;
$rem2: $h2;

$h3: 1.125rem; // 18px
$em3: 1.125em;
$rem3: $h3;

$h4: 1rem; // 16px
$em4: 1em;
$rem4: $h4;

$h5: 0.938rem; // 14px
$em5: 0.938em;
$rem5: $h5;

$h6: 0.75rem; // 12px
$em6: 0.75em;
$rem6: $h6;
